
button:hover {
    transform: scale(1.1); /* Cambia el valor según sea necesario para el tamaño de crecimiento */
}
button img {
    width: auto; /* Ajusta el ancho según sea necesario */
    height: 10%; /* Mantiene la proporción de la imagen */
    border: none;
    border-radius: 1px;
}

button {
    border: none;
    outline: none;
    background: none;
}